@layer components {
  .n-time-range-picker {
    width: 354px;

    overflow: visible;
  }

  .n-time-range-picker__content {
    position: relative;
    z-index: 1;

    padding: 10px;

    text-align: center;
  }

  .n-time-range-picker__cell {
    display: inline-block;

    width: 50%;
    margin: 0;
    padding: 4px 7px 7px;
    box-sizing: border-box;
  }

  .n-time-range-picker__header {
    margin-bottom: 5px;

    font-size: 14px;
    text-align: center;
  }

  .n-time-range-picker__body {
    border: var(--n-sys-border);
    border-radius: 2px;
  }
}
